body {
  background-color: tomato;
}

h1 {
  color: black;
  text-align: center;
  font-size:50px;
}

h2 {
  color: black;
  text-align: left;
  font-size:39px;
}

p {
  font-family: arial;
  font-size: 30px;
}

b {
  font-family: arial;
  font-size: 30px;
}