p {
	text-align: left;
	font-family: raleway, sans-serif;
	color: white;
	font-size: 20px;
	float: top;
}
  .thumbnail {
    width: 94.3%;
    height: 100%;
    transition: transform 0.5s, filter 0.5s;
    box-shadow: 0 0 40px black;
    border-radius: 5px;
  }
  .thumbnail:hover {
    transform: scale(1.075, 1.075);
    filter: brightness(75%);
    border: 2px solid white;
    border-radius: 5px;}
.gradient{
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */

}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #141414;
	max-height: 77px;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size:20px;
	font-family: raleway, sans-serif;
  }
  
  li a:hover {
	color: tomato;
  }
  @media only screen and (max-width: 620px) {
    p {
    text-align: left;
    font-family: raleway, sans-serif;
    color: white;
    font-size: 20px;
    float: top;
   }
    .navimage{
    width:25px;
    height:25px;
    }
  #slideshow {
    height: 540px;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  #slideshow img {
    height: 540px;
    width: 100%;
  }
  .header1{
    font-size:3.5vw;
    }
  }