.gradient {
	background-color: tomato; /* For browsers that do not support gradients */
	background-image: linear-gradient(#e7625f, tomato);
  }
  ul{ list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width: 100%;
    background-color: #141414;}
li{float: left;}

li a{display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-family: Raleway, sans-serif;}
li a:hover {
    color:tomato;
  }
p {
	text-align: left;
	font-family: raleway, sans-serif;
	color: white;
	font-size: 20px;
	float: top;
}
.thumbnail {
	width: 356px;
	height: 200px;
	transition: transform 0.5s, filter 0.5s;
}
.thumbnail:hover {
	transform: scale(1.015, 1.015);
	filter: brightness(75%);
	border: 2px solid white;
	border-radius: 5px;
}
